body {
  background-color: rgba(25, 25, 25, 0.85);
  color: white;
  padding: 10px 60px;
  font-family: Arial, sans-serif;
}

.title {
  margin-bottom: 60px;
}

.move_icon {
  height: 60px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
}

.score {
  margin-top: 60px;
}

.reset-score-button,
.button-autoplay {
  background-color: white;
  padding: 8px 16px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
